@import "tailwindcss";

@layer base {
    html {
        @apply antialiased;
    }

    body {
        @apply bg-gray-200;
    }
}

.titleBar {
    position: fixed;
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    width: env(titlebar-area-width, 100%);
    height: env(titlebar-area-height, 40px);
}
